# M1L6 Identifying & Handling Missing Data 

 We'll be working with the same Austin Animal Center Intakes dataset from the previous lecture, which contains information about animals entering the Austin Animal Center.

### **Dataset:** [Austin Animal Center Intakes](https://catalog.data.gov/dataset/austin-animal-center-intakes) -- This is also in your data folder 

### **Objectives:**

 1.  Identify Columns with Missing Data
 2.  Handle missing data by dropping data and using imputation techniques

## Step 1:  Import pandas and numpy

In [1]:
#Import packages 

import pandas as pd
import numpy as np

## Step 2:  Load in the data and save it as `df`

In [2]:
df = pd.read_csv('/Users/Marcy_Student/Desktop/marcy/DA2025_Lectures_Kevin/Mod1/lecture_code_alongs/AustinAnimalCenterIntakes.csv')

## Step 3:  Look at the data (can you think of ONE method that we can use to quickly see column names and how many non-null values exist in each column)

**Instructor if they draw a blank say what method can tell us data types, column names, the number of non-null values etc**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173812 entries, 0 to 173811
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173812 non-null  object
 1   Name              123821 non-null  object
 2   DateTime          173812 non-null  object
 3   MonthYear         173812 non-null  object
 4   Found Location    173812 non-null  object
 5   Intake Type       173812 non-null  object
 6   Intake Condition  173812 non-null  object
 7   Animal Type       173812 non-null  object
 8   Sex upon Intake   173811 non-null  object
 9   Age upon Intake   173812 non-null  object
 10  Breed             173812 non-null  object
 11  Color             173812 non-null  object
dtypes: object(12)
memory usage: 15.9+ MB

## Step 4:  Assign a missing indicator to those rows who have missing animal names

In [5]:
df['Missing Name'] = df['Name'].isnull()
df.head() #optional line to see changes

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Missing Name
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan,False
1,A664235,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,True
2,A664236,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,True
3,A664237,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,True
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White,False

## Step 5:  Many names are missing let's fill this in with "UNKNOWN"

In [8]:
df['Name'] = df['Name'].fillna('UNKNOWN')
df.head() #optional line to see changes

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Missing Name
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan,0
1,A664235,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
2,A664236,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
3,A664237,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White,0

## Step 6:  There is ony one column with 'Age' missing; let's drop it for now

In [14]:
df.dropna(subset = 'Sex upon Intake', inplace=True)
df.info() #optional line to see changes

<class 'pandas.core.frame.DataFrame'>
Index: 173811 entries, 0 to 173811
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173811 non-null  object
 1   Name              173811 non-null  object
 2   DateTime          173811 non-null  object
 3   MonthYear         173811 non-null  object
 4   Found Location    173811 non-null  object
 5   Intake Type       173811 non-null  object
 6   Intake Condition  173811 non-null  object
 7   Animal Type       173811 non-null  object
 8   Sex upon Intake   173811 non-null  object
 9   Age upon Intake   173811 non-null  object
 10  Breed             173811 non-null  object
 11  Color             173811 non-null  object
 12  Missing Name      173811 non-null  int64
dtypes: int64(1), object(12)
memory usage: 18.6+ MB